body {
    background-color: black;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}

.my-card {
    background-color: rgba(30, 30, 30, 0.6);
    border-radius: 20px;
}

